**/node_modules/
**/.DS_STORE
06_Portal-Scene/37_Baking-and-Exporting-the-Scene/baked.hdr
06_Portal-Scene/38_Importing-and-Optimizing-the-Scene/resources
06_Portal-Scene/39_Adding-Details-to-the-Scene/resources